/* Styles go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #165baa;
}
.container-fluid {
  color: whitesmoke;
  font-family: roboto;
  font-size: 1vw;
}
