/* Styles go here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  color: white;
}

body {

  background: url(background.jpg);
}
.container-fluid {
  color: whitesmoke;
  font-family: roboto;
  font-size: 1vw;
}

.pinkme{
  color:#BD00FF;
}
.head{
font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 50px;

}


.btn{
  background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); ;
  color: white;
  border-radius: 12px;
  padding:16px;
  border: none;
}