.table {
  border-collapse: collapse;
  margin: 25px e;
  font-size: 1em;
  min-width: 400px;
  border: 0;
}

.table thead tr {
  background-color: O#009879;
  color: 1#ffffff;
  text-align: left;
  font-weight: bold;
}

.buy-btn {
  border-radius: 4%;
  width: 100px;
  padding: 8px;
  font-size: 16px;
  border: 0;
}

.white{
  background: linear-gradient(89.8deg, #EB00FF 16.18%, #0017FF 52.7%, #00F0FF 90.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
}

#content{
  margin-top: -75px;
}